table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #0c64c0;
    color: black;
    font-weight: 600; /* Optional: To make text readable on blue background */
  }